Repository VirtualHotBar/NetMount: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: 修复 Tauri dev 模式重建循环问题
  src-tauri/build.rs
  src-tauri/src/lib.rs
Due: none

refactor: 合并 res/bin/ 到 binaries/ 目录
  .gitignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/res/bin/openlist/.version
  src-tauri/src/config.rs
  src/controller/language/localized.ts
  src/controller/main.ts
  src/controller/stats/stats.ts
  src/controller/storage/allList.ts
  src/controller/storage/framework/openlist/providers.ts
  src/controller/storage/mount/mount.ts
  src/controller/task/scheduler.ts
  src/page/home/home.tsx
  src/page/mount/add.tsx
  src/page/mount/mount.tsx
  src/page/other/InputForm.tsx
  src/page/other/devTips.tsx
  src/page/other/noData.tsx
  src/page/setting/setting.tsx
  src/page/storage/add.tsx
  src/page/storage/explorer.tsx
  src/page/task/add.tsx
  src/page/task/task.tsx
  src/page/transmit/transmit.tsx
  src/services/config.ts
  src/utils/aria2/aria2.ts
  src/utils/openlist/openlist.ts
  src/utils/openlist/process.ts
  src/utils/openlist/request.ts
  src/utils/rclone/process.ts
  src/utils/rclone/request.ts
  src/utils/utils.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: 修复 openlist 日志目录创建在项目文件夹的问题
  src/utils/openlist/openlist.ts
Due: eslint --fix, prettier --write

fix: 修复 openlist 启动顺序问题
  src/utils/openlist/process.ts
Due: eslint --fix, prettier --write

feat: 升级版本至1.2.0并优化构建脚本
  .npmrc
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/locales/en.json
  src-tauri/locales/zh-cn.json
  src-tauri/locales/zh-hant.json
  src-tauri/src/fs.rs
  src-tauri/src/lib.rs
  src/controller/storage/create.ts
  src/controller/storage/storage.ts
  src/main.tsx
  src/page/setting/setting.tsx
  src/utils/openlist/openlist.ts
  src/utils/openlist/paths.ts
  src/utils/openlist/process.ts
  src/utils/openlist/request.ts
  src/utils/rclone/process.ts
  src/utils/rclone/request.ts
  src/utils/request.ts
Due: eslint --fix, prettier --write

feat: 添加关闭窗口最小化到托盘功能并优化发布流程
  .github/workflows/main.yml
  .gitignore
  scripts/generate-changelog.mjs
  src-tauri/locales/en.json
  src-tauri/locales/zh-cn.json
  src-tauri/locales/zh-hant.json
  src-tauri/src/config.rs
  src-tauri/src/lib.rs
  src/controller/window.ts
  src/page/setting/setting.tsx
  src/services/config.ts
  src/type/config.d.ts
  src/type/openlist/openlistInfo.d.ts
  src/type/rclone/rcloneInfo.d.ts
  src/utils/logs.ts
  src/utils/netmountPaths.ts
  src/utils/openlist/process.ts
  src/utils/rclone/process.ts
  src/utils/sidecar.ts
  src/utils/sidecarDiagnostics.ts
  src/utils/sidecarService.ts
Due: eslint --fix, prettier --write

feat: 添加国际化检查脚本和诊断导出功能
  .github/workflows/main.yml
  package.json
  scripts/check-i18n.mjs
  src-tauri/Cargo.toml
  src-tauri/capabilities/migrated.json
  src-tauri/locales/en.json
  src-tauri/locales/zh-cn.json
  src-tauri/locales/zh-hant.json
  src-tauri/src/config.rs
  src-tauri/src/diagnostics.rs
  src-tauri/src/lib.rs
  src/controller/language/localized.ts
  src/controller/main.ts
  src/controller/storage/framework/openlist/providers.ts
  src/controller/storage/framework/rclone/providers.ts
  src/controller/window.ts
  src/page/setting/setting.tsx
  src/services/config.ts
  src/services/i18nPack.ts
  src/type/config.d.ts
  src/utils/netmountPaths.ts
  src/utils/openlist/paths.ts
  src/utils/rclone/process.ts
Due: eslint --fix, prettier --write

feat: 更新依赖并优化日志显示组件
  pnpm-lock.yaml
  src/controller/main.ts
  src/main.tsx
  src/page/other/modal.tsx
  src/services/openlist.ts
  src/type/controller/storage/info.d.ts
  src/type/defaults.d.ts
  src/type/hook.d.ts
  src/type/openlist/openlistInfo.d.ts
  src/utils/logs.ts
  src/utils/schemas.ts
  src/utils/sidecarService.ts
Due: eslint --fix, prettier --write

feat: 优化CI流程并禁用部分eslint规则
  .eslintrc.cjs
  .github/workflows/main.yml
  src/page/home/home.tsx
  src/page/mount/mount.tsx
  src/page/other/InputForm.tsx
  src/page/storage/add.tsx
  src/page/storage/explorer.tsx
Due: eslint --fix, prettier --write

chore: 移除ESLint禁用规则并清理依赖项
  .github/workflows/main.yml
  src/main.tsx
  src/page/home/home.tsx
  src/page/mount/mount.tsx
  src/page/other/InputForm.tsx
  src/page/storage/add.tsx
  src/page/storage/explorer.tsx
Due: eslint --fix, prettier --write

ci: 重构并增强CI/CD工作流
  .github/workflows/main.yml
  src/page/mount/add.tsx
  src/page/other/InputForm.tsx
Due: eslint --fix, prettier --write

chore(workflow): 更新Rust工具链配置以使用稳定版本
  .github/workflows/main.yml
  src/type/rclone/storage/mount/parameters.d.ts
Due: eslint --fix, prettier --write

fix: 修改Tauri构建命令以禁用捆绑选项
  .github/workflows/main.yml
Due: none

fix: 更新生成变更日志脚本以处理未来标签并改进错误处理
  .gitignore
  scripts/generate-changelog.mjs
Due: none

fix(ci): 修复 macOS 交叉编译和 Windows WiX 构建失败
  .github/workflows/main.yml
  src-tauri/build.rs
Due: none

ci: 优化 CI/CD 流程，加速构建
  .github/workflows/main.yml
Due: none

fix(build): 修复 macOS 交叉编译和 Windows WiX 安装问题
  .github/workflows/main.yml
  src-tauri/build.rs
Due: none

fix(build): 修复 get_target_triple() 支持交叉编译
  src-tauri/build.rs
Due: none

fix(ci): 修复 Windows WiX 构建失败
  .github/workflows/main.yml
Due: none

fix(build): 使用 NSIS 替代 WiX 构建 Windows 安装程序
  .github/workflows/main.yml
  src-tauri/tauri.conf.json
Due: prettier --write

fix(config): 从 targets 中移除无效的 'updater'
  src-tauri/tauri.conf.json
Due: prettier --write

ci: 添加 Linux ARM64 (aarch64) 构建支持
  .github/workflows/main.yml
Due: none

feat: Windows 下隐藏 openlist 和 rclone 的命令行窗口
  .github/workflows/main.yml
  src-tauri/src/lib.rs
Due: none

fix: 添加 winapi winbase feature 支持 CREATE_NO_WINDOW
  src-tauri/Cargo.toml
Due: none

fix(config): 移除 externalBin 配置避免二进制文件重复打包
  src-tauri/tauri.conf.json
Due: prettier --write

ci: 使用原生 ARM64 runner 并修复缓存 key
  .github/workflows/main.yml
Due: none

fix(nsis): stop locked sidecars during upgrade
  src-tauri/pack/nsis/hooks.nsh
  src-tauri/src/lib.rs
  src-tauri/src/sidecar.rs
  src-tauri/tauri.conf.json
Due: prettier --write

feat: 添加自动更新功能，支持检查和下载更新
  .gitignore
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/migrated.json
  src-tauri/locales/en.json
  src-tauri/locales/zh-cn.json
  src-tauri/locales/zh-hant.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/controller/main.ts
  src/controller/update/tauriUpdater.tsx
Due: eslint --fix, prettier --write

feat: 添加更新检查和下载功能，支持更新对话框显示
  src/controller/update/tauriUpdater.ts
  src/page/other/updateModal.tsx
Due: eslint --fix, prettier --write

feat(locales): 在中国本地化环境中添加新的存储选项和描述
  src-tauri/locales/en.json
  src-tauri/locales/zh-cn.json
  src-tauri/locales/zh-hant.json
  src-tauri/pack/nsis/hooks.nsh
  src-tauri/src/lib.rs
  src/controller/storage/allList.ts
  src/controller/storage/framework/openlist/providers.ts
  src/utils/openlist/openlist.ts
  src/utils/openlist/process.ts
  src/utils/sidecar.ts
Due: eslint --fix, prettier --write

chore: 更新 netmount 版本至 1.2.1
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

feat: 修复私钥问题
  .github/workflows/main.yml
  package.json
  scripts/sync-version.mjs
  src-tauri/pack/nsis/hooks.nsh
Due: prettier --write

feat: 添加 Tauri 签名私钥密码支持，并更新公钥
  .github/workflows/main.yml
  src-tauri/tauri.conf.json
  tauri_netmount.key.pub
Due: prettier --write

feat: 优化 setOpenlistPass 函数，简化密码重置逻辑并增强错误处理
  src/utils/openlist/openlist.ts
Due: eslint --fix, prettier --write

feat: 更新存储信息过滤和参数设置，增强存储管理功能
  src-tauri/locales/en.json
  src-tauri/locales/zh-cn.json
  src-tauri/locales/zh-hant.json
  src/controller/storage/allList.ts
  src/controller/storage/framework/openlist/providers.ts
Due: eslint --fix, prettier --write

feat: 优化 OpenList 启动时的端口分配逻辑，尽量使用固定端口
  src-tauri/src/lib.rs
  src-tauri/src/utils.rs
  src/utils/openlist/process.ts
  src/utils/utils.ts
Due: eslint --fix, prettier --write

feat: 强制刷新 OpenList token 以避免用户更新后旧 token 失效
  src/utils/openlist/process.ts
Due: eslint --fix, prettier --write

feat: 更新 .gitignore，添加 .tmp_openlist_src 以排除临时文件，删除不再使用的子项目
  .gitignore
Due: none

feat: 更新 README，添加依赖框架说明；修改 migrated.json 中 aria2c 命令路径；新增 openWinFspInstaller 函数以支持安装程序的打开
  README.md
  src-tauri/capabilities/migrated.json
  src/page/mount/mount.tsx
  src/utils/utils.ts
Due: eslint --fix, prettier --write

feat(mount): implement issue #102 mount strategy improvements
  README.md
  issue-102-plan.md
  src-tauri/locales/en.json
  src-tauri/locales/zh-cn.json
  src-tauri/locales/zh-hant.json
  src-tauri/src/diagnostics.rs
  src/controller/storage/mount/parameters/defaults.ts
  src/page/mount/add.tsx
  src/type/rclone/storage/mount/parameters.d.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
  prettier --write: (((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.json)) or (any of: *.md)
