Repository VirtualHotBar/NetMount: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs(readme): move mount strategy guidance to docs site
  README.md
Due: prettier --write

feat: 删除 issue #102 改造计划文档
  issue-102-plan.md
Due: prettier --write

fix: 修复获取上一个标签的逻辑以确保正确处理当前标签
  scripts/generate-changelog.mjs
Due: none

fix: 更新版本号至 1.2.2
  package.json
Due: prettier --write

fix: 更新版本号至 1.2.2，并优化下载跳过逻辑
  .github/workflows/main.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

feat(config): 添加配置导入导出功能
  src-tauri/build.rs
  src-tauri/locales/en.json
  src-tauri/locales/zh-cn.json
  src-tauri/locales/zh-hant.json
  src-tauri/src/fs.rs
  src-tauri/src/lib.rs
  src/controller/storage/framework/openlist/providers.ts
  src/page/setting/setting.tsx
  src/page/storage/add.tsx
Due: eslint --fix, prettier --write

fix(openlist): 增加登录超时处理和重试机制
  src/main.tsx
  src/page/mount/add.tsx
  src/utils/openlist/openlist.ts
Due: eslint --fix, prettier --write

feat: 优化首页加载和通知处理，增加启动任务的后台执行
  src/app.tsx
  src/controller/main.ts
  src/page/home/home.tsx
  src/services/hook.ts
  src/type/hook.d.ts
Due: eslint --fix, prettier --write

feat: 添加启动任务失败处理和存储同步状态提示，优化配置导入流程
  src-tauri/locales/en.json
  src-tauri/locales/zh-cn.json
  src-tauri/locales/zh-hant.json
  src-tauri/src/fs.rs
  src-tauri/src/lib.rs
  src-tauri/src/sidecar.rs
  src/controller/main.ts
  src/page/home/home.tsx
  src/page/setting/setting.tsx
  src/page/storage/add.tsx
  src/services/hook.ts
  src/type/hook.d.ts
Due: eslint --fix, prettier --write

fix(locales): 优化中文翻译，调整提示信息以提高可读性
  src-tauri/locales/zh-cn.json
Due: prettier --write

feat: 更新配置导入导出描述，优化设置页面的导入导出功能
  src-tauri/locales/en.json
  src-tauri/locales/zh-cn.json
  src-tauri/locales/zh-hant.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/controller/main.ts
  src/page/home/home.tsx
  src/page/setting/setting.tsx
Due: eslint --fix, prettier --write

feat: 添加高级设置和额外启动参数功能，优化配置管理
  src-tauri/locales/en.json
  src-tauri/locales/zh-cn.json
  src-tauri/locales/zh-hant.json
  src/page/setting/setting.tsx
  src/services/config.ts
  src/type/config.d.ts
  src/utils/cliArgs.ts
  src/utils/openlist/process.ts
  src/utils/rclone/process.ts
  src/utils/schemas.ts
Due: eslint --fix, prettier --write

chore: 更新版本号至1.2.3
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: prettier --write

fix: 更新 WinFsp 下载链接至版本 2.1.25156
  src-tauri/build.rs
Due: none

feat: 添加 Tauri 构建步骤以优化构建流程
  .github/workflows/main.yml
Due: none

refactor: 移除编译时操作系统类型常量，优化代码结构
  src-tauri/build.rs
Due: none

fix: 修复代码格式，优化可读性
  src-tauri/locales/zh-cn.json
  src/page/home/home.tsx
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

feat(config): add fs exist and make dir capabilities
  src-tauri/capabilities/migrated.json
Due: prettier --write

release: bump version to v1.2.4
  package.json
Due: prettier --write

fix: AppImage 运行失败问题
  src-tauri/src/lib.rs
Due: none

fix: use hyphenated permission identifiers for Tauri v2 ACL
  src-tauri/capabilities/migrated.json
Due: prettier --write

fix: remove invalid permission identifiers and expand fs:scope for user directories
  src-tauri/capabilities/migrated.json
Due: prettier --write

fix: expand fs:scope to allow broader filesystem access for mount operations
  src-tauri/capabilities/migrated.json
Due: prettier --write

fix: 修复跨设备配置导入时因绝对路径导致的卡死问题 (#127)
  src-tauri/src/fs.rs
  src/utils/openlist/openlist.ts
Due: eslint --fix, prettier --write

fix: correct openlist config path fix to target data_dir instead of temp_dir
  src-tauri/src/fs.rs
Due: none

fix: rclone密码混淆问题修复
  src-tauri/locales/en.json
  src-tauri/locales/zh-cn.json
  src-tauri/locales/zh-hant.json
  src/page/other/InputForm.tsx
  src/page/storage/add.tsx
  src/utils/openlist/openlist.ts
Due: eslint --fix, prettier --write

fix: apply path fixes BEFORE copying config to data_dir
  src-tauri/src/fs.rs
Due: none

feat(tray): 添加托盘菜单'重启程序'选项
  src-tauri/locales/en.json
  src-tauri/locales/zh-cn.json
  src-tauri/locales/zh-hant.json
  src-tauri/src/tray.rs
Due: prettier --write

fix: change let to const for parameters (ESLint prefer-const)
  src/page/storage/add.tsx
Due: eslint --fix, prettier --write

feat: 采用异步任务处理大文件传输 (fix #91)
  src/controller/storage/storage.ts
  src/controller/task/runner.ts
  src/page/storage/explorer.tsx
  src/utils/rclone/request.ts
Due: eslint --fix, prettier --write

fix(openlist): 修复 openlist 闪退问题
  src-tauri/src/lib.rs
  src/utils/openlist/openlist.ts
  src/utils/openlist/process.ts
  src/utils/sidecar.ts
  src/utils/sidecarService.ts
Due: eslint --fix, prettier --write

refactor(storage): 统一路径格式化逻辑并修复样式问题
  src/controller/storage/storage.ts
  src/page/storage/explorer.tsx
Due: eslint --fix, prettier --write

fix: prefix unused isDir parameter with underscore
  src/controller/storage/storage.ts
Due: eslint --fix, prettier --write

fix: #94 初始化失败时显示窗口和错误信息
  src/controller/mainInit.ts
  src/main.tsx
Due: eslint --fix, prettier --write

fix: #51 自动分配盘符使用 GetLogicalDrives 检测已用盘符
  src-tauri/src/utils.rs
Due: none

fix: #64/#84/#83 修复任务执行缺少 await 导致的重复上传问题
  src/controller/task/runner.ts
  src/controller/task/scheduler.ts
Due: eslint --fix, prettier --write

fix: #55 双向同步首次运行自动添加 --resync 标志
  src/services/storage/TransferService.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
  prettier --write: (((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.json)) or (any of: *.md)
